<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href="/adminCSS/admin-layout.css">
        <link rel="stylesheet" href="/adminCSS/admin-listPage.css">
        <link rel="stylesheet" href="/adminCSS/admin-showPage.css">
        {% block head %}{% endblock %}

    </head>

    <body>
        <header>
            <div class="HeaderContent">
                <img src="/assets/logoAdmin.png" alt="Logo">
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/script.js"></script>

    </body>

</html>

