{% extends "../layoutAdmin.njk" %}

{% block content %}

  <section class="uniq_recipe">

    <form method="POST" action="/admin/recipes">

      <div class="titleEditRecipe">
        <h3>Criando Receitas</h3>
        <div class="buttons">
          <button type="submit" class="saveButton">Salvar Receita</button>
        </div>
      </div>

      {% include 'admin/recipes/fields.njk' %}

    </form>

  </section>

  <script src="/scriptAddItem.js"></script>

{% endblock %}
