{% extends "../layoutAdmin.njk" %}

{% block content %}

  <section class="uniq_recipe">

    <form method="PUT" action="/recipes">

      <div class="titleEditRecipe">
        <h3>Criando Receitas</h3>
        <div class="buttons">
          <a href="edit" class="saveButton">Salvar Receita</a>
        </div>
      </div>

      <div class="editRecipeContent">
        <div class="input-block">
          <label for="name">Imagem da receita</label>
          <div>
            <input type="url" name="image_url" placeholder="http://..."
            value="{{ recipe.image }}">
          </div>
        </div>
        <div class="input-block">
          <label for="name">Ingredientes</label>
          <div id="ingredients">
            <div class="ingredient">
              <input type="text" name="ingredients[]" placeholder="Digite o ingrediente..." value="{{ recipe.ingredient }}">
            </div>
          </div>
          <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
        </div>
        <div class="input-block">
          <label for="name">Modo de preparo</label>
          <div id="preparations-steps">
            <div class="preparations-step">
              <input type="text" name="preparation-step[]" placeholder="Digite o passo para preparo..." value="{{ recipe.ingredient }}">
            </div>
          </div>
          <button type="button" class="add-steps">Adicionar novo passo</button>
        </div>
        <div class="input-block">
          <label for="name">Informações adicionais</label>
          <div>
            <div>
              <textarea name="additional-information"></textarea>
            </div>
          </div>
        </div>
      </div>

    </form>
  </section>

  <script src="/scriptAddItem.js"></script>

{% endblock %}
