{% extends "../layoutAdmin.njk" %}

{% block content %}

  <section class="uniq_recipe">

    <form method="POST" action="/recipes?_method=DELETE">

      <div class="titleEditRecipe">
        <h3>Editando Receitas</h3>
        <div class="buttons">
          <button form="form-delete" class="deleteButton">Deletar</button>
          <button class="saveButton">Salvar Receita</button>
        </div>
      </div>

      <div class="editRecipeContent">

        {% include 'admin/recipes/fields.njk' %}
        <input type="hidden" name="number" value={{recipe.number}}>

      </div>

    </form>

  </section>

  <script src="/scriptAddItem.js"></script>

{% endblock %}
