

      <div class="editRecipeContent">
        <div class="input-block">
          <label for="name">Imagem da receita</label>
          <div>
            <input type="url" name="image_url" placeholder="http://..."
            value="{{ recipe.image_url }}">
          </div>
        </div>
        <div class="input-block">
          <label for="ingredients">Ingredientes</label>
          <div id="ingredients">
            <div class="ingredient">
              {%for ingredient in recipe.ingredients%}
                <input type="text" name="ingredients[]" placeholder="Digite o ingrediente..." value="{{ ingredient }}">
              {%endfor%}
            </div>
          </div>
          <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
        </div>
        <div class="input-block">
          <label for="preparation_step">Modo de preparo</label>
          <div id="preparations-steps">
            <div class="preparations-step">
              {%for preparation_step in recipe.preparation_step%}
               <input type="text" name="preparation_step[]" placeholder="Digite o passo para preparo..." value="{{ preparation_step }}">
              {%endfor%}
            </div>
          </div>
          <button type="button" class="add-steps">Adicionar novo passo</button>
        </div>
        <div class="input-block">
          <label for="additional_information">Informações adicionais</label>
          <div>
            <div>
              <textarea name="additional_information">{{recipe.additional_information}}</textarea>
            </div>
          </div>
        </div>
      </div>

