{% extends "../layoutAdmin.njk" %}

{% block content %}

<section class="cardRecipesSection">
  <h2 class="title-recipesManager">Gerenciar Receitas</h2>

  <div class="cardsRecipesManager">

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

    <div class="singleCard">
      <div class="cardImage">
        <img src="https://images.unsplash.com/photo-1517274885739-760f0910eefc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cmVjaXBlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image Card">
      </div>
      <div class="card-description">
        <div class="plate-name">
          <p>Triplo bacon burger</p>
        </div>
        <div class="cooker-name">
          <p>por Jorge Relato</p>
        </div>
        <div class="to-view">
          <a href="recipes/show">Visualizar</a>
        </div>
     </div>
    </div>

  </div>

</section>

{% endblock %}
