{% extends "../layoutAdmin.njk" %}

{% block content %}

<section class="cardRecipesSection">

  <div class="header-ManagerRecipe">
        <h2 class="title-recipesManager">Gerenciar Receitas</h2>
        <div class="buttons">
          <a href="/admin/recipes/create" class="createButton">Criar Receita</a>
        </div>
      </div>

  <div class="cardsRecipesManager">

    {%for recipe in recipes%}

      <div class="singleCard">
        <div class="cardImage">
          <img src="{{recipe.image_url}}" alt="Image {{recipe.title}}">
        </div>
        <div class="card-description">
          <div class="plate-name">
            <p>{{recipe.title}}</p>
          </div>
          <div class="cooker-name">
            <p>por {{recipe.author}}</p>
          </div>
          <div class="to-view">
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      </div>

    {%endfor%}

  </div>



</section>

{% endblock %}
