{% extends "../layoutAdmin.njk" %}


{% block content %}

<section class="uniq_recipe">

  <div class="titleSingleRecipe">
    <h3>Receita: {{recipe.title}}</h3>
    <a href="/admin/recipes/{{recipe.number}}/edit" class="editButton">Editar Receita</a>
  </div>

  <div class="uniq_img">
      <img src="{{recipe.image_url}}" alt="Image {{recipe.title}}">
  </div>

  <div class="uniq_recipe_infor">
      <h2 class="uniq_plate">{{recipe.title}}</h5>
      <p class="uniq_cooker">por {{recipe.author}}</p>
  </div>

  <div class="uniq_recipe_content">
    <div class="topics">
      <h3 class="uniq_topics">Ingredientes</h3>
    </div>
    <div class="uniq_topics_contents">
      {%for ingredient in recipe.ingredients%}
        <li class="uniq_topics_content">{{ingredient}}</li>
      {%endfor%}
    </div>

    <div class="topics">
      <h3 class="uniq_topics">Modo de preparo</h3>
    </div>
    <div class="uniq_topics_contents">
      {%for preparation in recipe.preparation_step%}
        <li class="uniq_topics_content">{{preparation}}</li>
      {%endfor%}
    </div>

    <div class="topics">
      <h3 class="uniq_topics">Informações adicionais</h3>
    </div>
    <div class="uniq_topics_contents">
      <div class="uniq_topics_content">
        {{recipe.additional_information}}
      </div>
    </div>
  </div>

</section>

{% endblock %}
