@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');

/* LIST ADMIN PAGE */

.cardRecipesSection {
  width: 940px;
  height: 100%;
  margin: auto;
}

.header-ManagerRecipe {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-recipesManager {
  display: contents;
  font-family: 'Roboto', bold;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #111111;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', bold;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 4px;
}

.buttons .createButton {
  background-color: #6558C3;
  width: 139px;
  height: 37px;
}

.cardsRecipesManager {
  width: 940px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
}

.singleCard {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.cardImage img {
  object-fit: cover;
  width: 172px;
  height: 80px;
  border-radius: 15px;
}

.plate-name p {
  font-family: 'Roboto', regular;
  font-weight: 500;
  font-size: 18px;
  color: #111111;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.cooker-name p {
  font-family: 'Roboto', regular;
  font-size: 14px;
  color: #777777;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.to-view a {
  font-family: 'Roboto', bold;
  font-weight: 700;
  font-size: 14px;
  color: #6558C3;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

